@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    
}

body {
    background-color: #F2F4F3;

}

.background{
    background: url('../media/Untitled.jpeg') center center no-repeat;
    height: 100vh;
    background-size: cover;
}

img {
    opacity: 0.8;
    max-height: fit-content;
}

.header {
    margin-bottom:0;
    color: #F2F4F3;
    background-color: #A9927D;
}

.textbox {
    font-size: large;
    color: #22333B;
    text-align: center;
}

h2, h3 {
    text-align: center;
    color: #22333B;

}

.links {
    text-decoration: none;
    color:  #F2F4F3;
    background-color: #A9927D;
    
}

.links:hover {
    text-decoration: none;
    color:  #A9927D;
    background-color: #F2F4F3;
}

.listdetails {
    background-color: #E7E0DA;
}

.list {
    border: 3px solid #22333B;
    background-color: #E7E0DA;
}

.button {
    
    color: #22333B;
    background-color: #A9927D;
    text-decoration: none;
}

.button:hover {
    color:  #F2F4F3;
    background-color: #A9927D;
    text-decoration: none;
}