@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #D1E3DD;
}

.header {
    margin-bottom:0;
    background-color: #575366;
    color: #D1E3DD;
}

.textbox {
    color: #575366;
    font-weight: 450;
    font-size: large;
}

.links {
    text-decoration: none;
    color:  #5762D5;
}

.links:hover {
    text-decoration: none;
    color: #32292F;
    background-color: #5762D5;
}
