{% extends "base.html" %}

    {% block content %}
    <h1>Add an item</h1>

    <input type="hidden" name="list_id" value="{{ listdetails.pk }}">
    <form method="POST ['listdetails.id']">
        
        <div class="form-row align-items-center" style="border: 3px solid #6E7DAB;">
            <div class="col-sm-3 my-1">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Save"  class="form-control">
            </div>
        </div>
    </form>

  <!--  
    <form method="POST" action="add">
        {% csrf_token %}
        <div>
            <p>
                <label for="id_name">Name: </label>
                <input type="text" id="id_name" name="item_name">
            </p>
        </div>

        <div>
            <p>
                <label for="id_done">Done: </label>
                <input type="checkbox" id="id_done" name="done">
            </p>
        </div>

        <div>
            <button type="submit">Add Item</button>
        </div>
    </form>
    --> 

    {% endblock %}
