{% extends "base.html" %}

    {% block content %}

    <form method="POST">
        
        <div class="form-row align-items-center">
            <div class="col-sm-3 my-1">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Save"  class="form-control">
            </div>
        </div>
    </form>


<!--
    <form method="POST" action="add">
        {% csrf_token %}
        <div>
            <p>
                <label for="id_name">Name: </label>
                <input type="text" id="id_name" name="item_name">
            </p>
        </div>

        <div>
            <p>
                <label for="id_done">Quantity: </label>
                <input type="text" id="id_qunatity" name="quantity">
            </p>
        </div>

        <div>
            <button type="submit">Add item</button>
        </div>
    </form>
-->

    {% endblock %}
