{% extends "base.html" %}

{% block content %}

<div class="container-fluid">

    <a href={% url 'new' %} class="button btn-lg active" role="button" aria-pressed="true">New List</a>

    <div class="row">

        <div class="col-sm">
            <br>

            {% for shoppinglist in shoppinglists %}

            <div class="card text-center mb-3 list">
                <div class="card-body">
                    {% if shoppinglist.complete %}
                    <h5 class="card-title"><strike>{{ shoppinglist.title }}</strike></h5>
                    {% else %}
                    <h5 class="card-title">{{ shoppinglist.title }}</h5>
                    {% endif %}
                    <h6 class="card-subtitle mb-2 text-muted">{{ shoppinglist.description }}</h6>
                    <a href={% url 'details' shoppinglist.id %} class="card-link">See details</a>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}