{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
<br>
    <div class="row">

        <div class="col-sm">

            <ul class="list-group" style="border: 3px solid #6E7DAB;">
               
                <li class="list-group-item" style="background-color: #D1E3DD;">Title: {{ listdetails.title }}</li>
                <li class="list-group-item" style="background-color: #D1E3DD;">Description: {{ listdetails.description }}</li>
                <li class="list-group-item" style="background-color: #D1E3DD;">Items: {{ listdetails.list_items }}</li>
                <li class="list-group-item" style="background-color: #D1E3DD;">Date: {{ listdetails.date }}</li>
                <li class="list-group-item" style="background-color: #D1E3DD;">Created on: {{ listdetails.created_on }}</li>
                <li class="list-group-item" style="background-color: #D1E3DD;">Last updated on: {{ listdetails.updated_on }}</li>
                <li class="list-group-item" style="background-color: #D1E3DD;">Completed: {{ listdetails.complete }}</li>
            </ul>
            <br>
            <a href={% url 'updatelists' listdetails.id %} class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Edit List</a>
    <a href={% url 'delete' listdetails.id %} class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Delete List</a>
            
             

            <table>
                {% for item in items %}
                <tr>
                    {% if item.done %}
                    <td><strike>{{ item.name }}</strike></td>
                    {% else %}
                    <td>{{ item.name }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>


        </div>
    </div>
</div>

{% endblock %}

