{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container-fluid">
    <br>
    <div class="row">

        <div class="col-sm">

            <ul class="list-group" style="border: 3px solid #6E7DAB;">

                <li class="list-group-item listdetails">Title: {{ listdetails.title }}</li>
                <li class="list-group-item listdetails">Description: {{ listdetails.description }}</li>
                <li class="list-group-item listdetails">Items: {{ listdetails.list_items }}</li>
                <li class="list-group-item listdetails">Date due: {{ listdetails.dueDate }}</li>
                <li class="list-group-item listdetails">Created on: {{ listdetails.created_on }}</li>
                <li class="list-group-item listdetails">Last updated on: {{ listdetails.updated_on }}</li>
                <li class="list-group-item listdetails">Completed: {{ listdetails.complete }}</li>


            </ul>
        
            <br>
            <a href={% url 'updatelists' listdetails.id %} class="btn btn-primary btn-lg active" role="button"
                aria-pressed="true">Edit List</a>
            <a href={% url 'delete' listdetails.id %} class="btn btn-primary btn-lg active" role="button"
                aria-pressed="true">Delete List</a>
            <a href="{% url 'additems' listdetails.id %}" class="btn btn-primary btn-lg active" role="button"
                aria-pressed="true">Edit items</a>

        </div>
    </div>
</div>

{% endblock %}