{% extends "base.html" %}

{% block content %}

<div class="container-fluid">

    <div class="row">

        <div class="col-sm" style="background-color: lavender;">

            <h3>Your shopping list: {{ listdetails.title }} </h3>

            <ul class="list-group">
                <li class="list-group-item">Title: {{ listdetails.title }}</li>
                <li class="list-group-item">Description: {{ listdetails.description }}</li>
                <li class="list-group-item">Items: {{ listdetails.list_items }}</li>
                <li class="list-group-item">Date: {{ listdetails.date }}</li>
                <h4>Additional info: </h4>
                <li class="list-group-item">Created on: {{ listdetails.created_on }}</li>
                <li class="list-group-item">Last updated on: {{ listdetails.updated_on }}</li>
                <li class="list-group-item">Completed: {{ listdetails.complete }}</li>
            </ul>
             
            <div class="list-group">
                <h4>Actions:</h4>
                <a href={% url 'updatelists' listdetails.id %} class="list-group-item list-group-item-action">Update list</a>
                <a href={% url 'delete' listdetails.id %} class="list-group-item list-group-item-action">Delete list</a>
            </div>

            <table>
                {% for item in items %}
                <tr>
                    {% if item.done %}
                    <td><strike>{{ item.name }}</strike></td>
                    {% else %}
                    <td>{{ item.name }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>


        </div>
    </div>
</div>

{% endblock %}

