{% extends "base.html" %}

    {% block content %}

    <div class="container-fluid">

        <div class="row">

            <div class="col-sm" style="background-color: lavender;">

                <h3>Your shopping lists: </h3>

                {% for shoppinglist in shoppinglists %}

                <ul class="list-group">

                    <li class="list-group-item">

                        <a class="btn btn-outline-secondary btn-lg btn-block" href={% url 'details' shoppinglist.id %}
                            role="button"> {{ shoppinglist.title }} </a>
                    </li>
                </ul>

                {% endfor %}

                <div class="list-group">
                    <a href="addlist" class="list-group-item list-group-item-action">New list</a>
                    <a href="#" class="list-group-item list-group-item-action">Delete a list</a>
                </div>

            </div>
        </div>
    </div>

    {% endblock %}