{% extends "base.html" %}

{% block content %}

<div class="container-fluid" style="background-color: lavender;">
    <div class="row">

        <div class="col-sm">

            <h3>Update your list</h3>

            <form method="POST">
                <div class="form-row align-items-center">
                    <div class="col-sm-3 my-1">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Save"  class="form-control">
                    </div>
                </div>
            </form>

        </div>
        
        <div class="col-sm">
            {% load static %} <img src="{% static "/media/shopbag.jpg" %}" class="img-fluid" alt="Shopping Bag">
        </div>

    </div>
</div>

{% endblock %}